back{
    /*background-image: url("../dist/images/back.jpg");*/
    background-image: url("../dist/images/back.jpg");
    background-position: center;
    background-attachment:fixed;  /*背景图不跟着文字移动*/
    background-size: cover;  /*//图片大小平铺*/
}

.logButton {
    margin-top: 30px;
    width: 50px;
    margin-bottom: 195px;
}